body {background-color: #4aaaa5 #4aaaa5}

body{regular font-color: #777777}

body{font-family: Arial, Helvetica, sans-serif;}

body{width: 960px;}

h1{background-color: #ffffff; text-align: center;}
  h1{border-color: #cccccc;}

h1{font-family: Georgia, 'Times New Roman', Times, serif;}

main content{background-color: #ffffff;}
main content{border-color: #dddddd}



float :right
 image{profile-image-jpg}

footer{background-color: #666666;
  .footer{position: fixed; left: 0;
  bottom: 0; border-top: 8px; border-top-color: #4aaaa5 solid;background-color: #ffffff; text-align: center;}


